body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    color: white;
}

.container.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.omcat-logo {
    font-family: 'Poppins', sans-serif;
    font-size: 4rem;
    font-weight: bold;
    color: #2575fc; /* Color del botón de iniciar sesión */
    margin-bottom: 5px;
}

.corporation-text {
    font-size: 1.2rem;
    font-weight: normal;
    color: #2575fc; /* Color del botón de iniciar sesión */
}

input, button {
    display: block;
    margin: 10px auto;
    padding: 10px;
    font-size: 16px;
}

input {
    width: 80%;
    max-width: 400px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
}

button.btn {
    background-color: #2575fc;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button.btn:hover {
    background-color: #6a11cb;
}

p {
    margin-top: 20px;
    font-size: 1rem;
}

p a {
    color: #ffcc00;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

